body {
    font-family: 'Special Elite', cursive;
    background-color: rgb(142, 187, 240);

}
.header_div {
    background-color: rgb(233, 243, 207);
    color: rgb(255, 68, 68);
}
.header_div p{
    font-family: 'Roboto', sans-serif;
    color: darkgray;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
}
.main_div button {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px; 
    width: 120px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.footer {
    position: fixed;
    color: lightgray;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    text-align: center;
    background-color: rgb(201, 144, 228);
    line-height: 3;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}